
#title {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    color: #FFFFFF;
    margin-top: 20;
    margin-bottom: 20
}

@font-face {
    font-family: carterone;
    src: url('assets/Fonts/CarterOne.ttf');
    font-weight: 400;
    font-weight: normal;
    }
